{"openapi":"3.1.0","info":{"title":"inSCADA API","description":"## Authentication\n\ninSCADA uses Bearer token authentication for API access.\n\n**Standard login flow:**\n1. Call **POST /login** — returns `access_token` and `refresh_token`.\n2. Click **Authorize** above and enter the `access_token`.\n3. Use **POST /refresh** with your `refresh_token` to get a new token pair before expiry.\n4. Call **POST /logout** to invalidate the current token.\n\n**OTP login flow (if OTP is enabled for the user):**\n1. Call **POST /login** — returns `otp_required: true`, `otp_type`, and `username`.\n2. Call **POST /validate** with the received `username` and the OTP code.\n3. On success, `/validate` returns `access_token` and `refresh_token` — proceed as normal.\n\n## Multi-Space\n\nIf your inSCADA instance has multiple spaces, include the `X-Space` header with the space ID on every API request. The available space IDs are returned in the `spaces` field of a successful login response.\n\n```\nX-Space: <spaceId>\n```\n\n> **Note for browser users:** If you are already logged into the inSCADA web app in this browser, your session cookie takes precedence over any Bearer token entered here. To test with a specific Bearer token, use a private window or a separate HTTP client such as Postman or curl.\n","contact":{"name":"inSCADA","url":"https://www.inscada.com","email":"info@inscada.com"},"version":"20260422-7"},"servers":[{"url":"https://inscada.cloud","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"paths":{"/login":{"post":{"tags":["Authentication"],"summary":"Login with username and password","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}},"required":["password","username"]}}},"required":true},"responses":{"200":{"description":"Login successful. If OTP is not configured: returns tokens. If OTP is configured: returns `otp_required: true` — call `/validate` next.","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string","description":"Present when OTP is not required"},"refresh_token":{"type":"string","description":"Present when OTP is not required"},"expire-seconds":{"description":"Present when OTP is not required"},"activeSpace":{"type":"string","description":"Present when OTP is not required"},"spaces":{"description":"Present when OTP is not required"},"otp_required":{"type":"boolean","description":"true when OTP verification is needed"},"otp_type":{"type":"string","description":"MAIL or SMS"},"username":{"type":"string","description":"Pass this to /validate"}}}}}},"401":{"description":"Invalid credentials"}}}},"/validate":{"post":{"tags":["Authentication"],"summary":"Submit OTP code after login","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"username":{"type":"string","description":"Username returned by /login"},"otp_code":{"type":"string","description":"OTP code received via email or SMS"}},"required":["otp_code","username"]}}},"required":true},"responses":{"200":{"description":"OTP valid — returns token pair","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expire-seconds":{},"activeSpace":{"type":"string"},"spaces":{}}}}}},"401":{"description":"Invalid or expired OTP code"}}}},"/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh access token","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string"}},"required":["refresh_token"]}}},"required":true},"responses":{"200":{"description":"New token pair issued","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expire-seconds":{}}}}}},"401":{"description":"Refresh token invalid or expired"}}}},"/logout":{"post":{"tags":["Authentication"],"summary":"Logout and invalidate the current token","responses":{"200":{"description":"Logged out successfully"}},"security":[{"bearerAuth":[]}]}},"/api/variables/{variableId}":{"get":{"tags":["variable-controller-facade"],"operationId":"getVariable","parameters":[{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableResponseDto"}}}}}},"put":{"tags":["variable-controller-facade"],"operationId":"updateVariable","parameters":[{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["variable-controller-facade"],"operationId":"deleteVariable","parameters":[{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/{username}/default-space":{"get":{"tags":["user-admin-controller"],"operationId":"getDefaultSpace","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}},"put":{"tags":["user-admin-controller"],"operationId":"setDefaultSpace","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"spaceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/{userId}":{"get":{"tags":["user-admin-controller"],"operationId":"getUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDto"}}}}}},"put":{"tags":["user-admin-controller"],"operationId":"updateUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["user-admin-controller"],"operationId":"deleteUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/ui-configs":{"get":{"tags":["user-profile-controller"],"operationId":"getUiConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["user-profile-controller"],"operationId":"setUiConfigs","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/users/profile":{"get":{"tags":["user-profile-controller"],"operationId":"getProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDto"}}}}}},"put":{"tags":["user-profile-controller"],"operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileUpdateRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/users/default-space":{"get":{"tags":["user-profile-controller"],"operationId":"getOwnDefaultSpace","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}},"put":{"tags":["user-profile-controller"],"operationId":"setOwnDefaultSpace","parameters":[{"name":"spaceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/agree":{"put":{"tags":["user-profile-controller"],"operationId":"acceptEula","responses":{"204":{"description":"No Content"}}}},"/api/trends/{trendId}":{"get":{"tags":["trend-controller"],"operationId":"getTrend","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrendResponseDto"}}}}}},"put":{"tags":["trend-controller"],"operationId":"updateTrend","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrendRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["trend-controller"],"operationId":"deleteTrend","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/trends/{trendId}/tags/{tagId}":{"get":{"tags":["trend-controller"],"operationId":"getTrendTag","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tagId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrendTagResponseDto"}}}}}},"put":{"tags":["trend-controller"],"operationId":"updateTrendTag","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tagId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrendTagRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["trend-controller"],"operationId":"deleteTrendTag","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}},{"name":"tagId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/trace-tables/{traceTableId}":{"get":{"tags":["trace-table-controller"],"operationId":"getTraceTable","parameters":[{"name":"traceTableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TraceTableResponseDto"}}}}}},"put":{"tags":["trace-table-controller"],"operationId":"updateTraceTable","parameters":[{"name":"traceTableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TraceTableRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["trace-table-controller"],"operationId":"deleteTraceTable","parameters":[{"name":"traceTableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/symbols/{symbolId}":{"get":{"tags":["symbol-controller"],"operationId":"getSymbol","parameters":[{"name":"symbolId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SymbolResponseDto"}}}}}},"put":{"tags":["symbol-controller"],"operationId":"updateSymbol","parameters":[{"name":"symbolId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/SymbolRequestDto"},"file":{"type":"string","format":"binary"}},"required":["symbol"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["symbol-controller"],"operationId":"deleteSymbol","parameters":[{"name":"symbolId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/spaces/{spaceId}":{"get":{"tags":["space-controller"],"operationId":"getSpace","parameters":[{"name":"spaceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}},"put":{"tags":["space-controller"],"operationId":"updateSpace","parameters":[{"name":"spaceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["space-controller"],"operationId":"deleteSpace","parameters":[{"name":"spaceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/space/users/{userId}":{"get":{"tags":["space-user-controller"],"operationId":"getSpaceUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDto"}}}}}},"put":{"tags":["space-user-controller"],"operationId":"updateSpaceUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["space-user-controller"],"operationId":"deleteSpaceUser","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/space/roles/{roleId}":{"get":{"tags":["space-role-controller"],"operationId":"getSpaceRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}},"put":{"tags":["space-role-controller"],"operationId":"updateSpaceRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["space-role-controller"],"operationId":"deleteSpaceRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/sms/settings/twilio":{"put":{"tags":["sms-settings-controller"],"operationId":"setTwilioSmsSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwilioSmsSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/sms/settings/netgsm":{"put":{"tags":["sms-settings-controller"],"operationId":"setNetgsmSmsSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetgsmSmsSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/sms/settings/dataport":{"put":{"tags":["sms-settings-controller"],"operationId":"setDataportSmsSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataportSmsSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/sms/settings/application/twilio":{"put":{"tags":["application-sms-settings-controller"],"operationId":"setApplicationTwilioSmsSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwilioSmsSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/sms/settings/application/netgsm":{"put":{"tags":["application-sms-settings-controller"],"operationId":"setApplicationNetgsmSmsSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetgsmSmsSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/sms/settings/application/dataport":{"put":{"tags":["application-sms-settings-controller"],"operationId":"setApplicationDataportSmsSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataportSmsSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/scripts/{scriptId}":{"get":{"tags":["script-controller"],"operationId":"getScript","parameters":[{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RepeatableScriptResponseDto"}}}}}},"put":{"tags":["script-controller"],"operationId":"updateScript","parameters":[{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepeatableScriptRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["script-controller"],"operationId":"deleteScript","parameters":[{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}":{"get":{"tags":["report-controller"],"operationId":"getReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportResponseDto"}}}}}},"put":{"tags":["report-controller"],"operationId":"updateReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["report-controller"],"operationId":"deleteReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}/groups/{groupId}":{"get":{"tags":["report-controller"],"operationId":"getReportGroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportGroupResponseDto"}}}}}},"put":{"tags":["report-controller"],"operationId":"updateReportGroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportGroupRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["report-controller"],"operationId":"deleteReportGroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}/groups/{groupId}/subgroups/{subgroupId}":{"get":{"tags":["report-controller"],"operationId":"getReportSubgroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportSubgroupResponseDto"}}}}}},"put":{"tags":["report-controller"],"operationId":"updateReportSubgroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportSubgroupRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["report-controller"],"operationId":"deleteReportSubGroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}/groups/{groupId}/subgroups/{subgroupId}/variables/{variableId}":{"get":{"tags":["report-controller"],"operationId":"getReportVariable","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportVariableResponseDto"}}}}}},"put":{"tags":["report-controller"],"operationId":"updateReportVariable","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportVariableRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["report-controller"],"operationId":"deleteReportVariable","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/variables/{variableId}":{"get":{"tags":["protocol-variable-controller"],"operationId":"getVariable_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableResponseDto"}}}}}},"put":{"tags":["protocol-variable-controller"],"operationId":"updateVariable_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-variable-controller"],"operationId":"deleteVariable_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/templates/devices/{deviceId}":{"get":{"tags":["protocol-template-controller"],"operationId":"getDevice","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceTemplateResponseDto"}}}}}},"put":{"tags":["protocol-template-controller"],"operationId":"updateDevice","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTemplateRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-template-controller"],"operationId":"deleteDevice","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/templates/devices/{deviceId}/frames/{frameId}":{"get":{"tags":["protocol-template-controller"],"operationId":"getFrame","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FrameTemplateResponseDto"}}}}}},"put":{"tags":["protocol-template-controller"],"operationId":"updateFrame","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrameTemplateRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-template-controller"],"operationId":"deleteFrame","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/templates/devices/{deviceId}/frames/{frameId}/variables/{variableId}":{"get":{"tags":["protocol-template-controller"],"operationId":"getVariable_2","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableTemplateResponseDto"}}}}}},"put":{"tags":["protocol-template-controller"],"operationId":"updateVariable_2","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableTemplateRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-template-controller"],"operationId":"deleteVariable_2","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/connections/{connectionId}":{"get":{"tags":["protocol-connection-controller"],"operationId":"getConnection","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectionResponseDto"}}}}}},"put":{"tags":["protocol-connection-controller"],"operationId":"updateConnection","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-connection-controller"],"operationId":"deleteConnection","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/connections/{connectionId}/devices/{deviceId}":{"get":{"tags":["protocol-connection-controller"],"operationId":"getDevice_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceResponseDto"}}}}}},"put":{"tags":["protocol-connection-controller"],"operationId":"updateDevice_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-connection-controller"],"operationId":"deleteDevice_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/connections/{connectionId}/devices/{deviceId}/frames/{frameId}":{"get":{"tags":["protocol-connection-controller"],"operationId":"getFrame_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FrameResponseDto"}}}}}},"put":{"tags":["protocol-connection-controller"],"operationId":"updateFrame_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrameRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["protocol-connection-controller"],"operationId":"deleteFrame_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/iec61850/connections/{connectionId}/with-file":{"put":{"tags":["iec-61850-connection-controller"],"operationId":"updateConnectionWithFile","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"connection":{"$ref":"#/components/schemas/ConnectionRequestDto"},"file":{"type":"string","format":"binary"}},"required":["connection"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["iec-61850-connection-controller"],"operationId":"deleteConnectionWithFile","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/projects/{projectId}":{"get":{"tags":["project-controller"],"operationId":"getProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectResponseDto"}}}}}},"put":{"tags":["project-controller"],"operationId":"updateProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"project":{"$ref":"#/components/schemas/ProjectRequestDto"},"file":{"type":"string","format":"binary"}},"required":["project"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["project-controller"],"operationId":"deleteProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/monitor-tables/{monitorTableId}":{"get":{"tags":["monitor-table-controller"],"operationId":"getMonitorTable","parameters":[{"name":"monitorTableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MonitorTableResponseDto"}}}}}},"put":{"tags":["monitor-table-controller"],"operationId":"updateMonitorTable","parameters":[{"name":"monitorTableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitorTableRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["monitor-table-controller"],"operationId":"deleteMonitorTable","parameters":[{"name":"monitorTableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/map/{projectId}/variables":{"get":{"tags":["map-controller"],"operationId":"getMapVariables","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapVariableResponseDto"}}}}}}},"put":{"tags":["map-controller"],"operationId":"setMapVariables","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MapVariableRequestDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChangeResultMapVariableResponseDto"}}}}}}},"/api/map/{projectId}/animation":{"get":{"tags":["map-controller"],"operationId":"getMapAnimation","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapAnimationResponseDto"}}}}}},"put":{"tags":["map-controller"],"operationId":"setMapAnimation","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapAnimationRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapAnimationRequestDto"}}}}}}},"/api/map/settings":{"get":{"tags":["map-settings-controller"],"operationId":"getMapSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MapSettingsResponseDto"}}}}}},"put":{"tags":["map-settings-controller"],"operationId":"setMapSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MapSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/mail/settings":{"get":{"tags":["mail-settings-controller"],"operationId":"getMailSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MailSettingsResponseDto"}}}}}},"put":{"tags":["mail-settings-controller"],"operationId":"setMailSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/mail/settings/application":{"get":{"tags":["application-mail-settings-controller"],"operationId":"getApplicationMailSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationMailSettingsResponseDto"}}}}}},"put":{"tags":["application-mail-settings-controller"],"operationId":"setApplicationMailSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationMailSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/logo/settings":{"get":{"tags":["logo-controller"],"operationId":"getLogoSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LogoSettingsResponseDto"}}}}}},"put":{"tags":["logo-controller"],"operationId":"setLogoSettings","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"logoSettings":{"$ref":"#/components/schemas/LogoSettingsRequestDto"},"file":{"type":"string","format":"binary"}},"required":["logoSettings"]}}}},"responses":{"204":{"description":"No Content"}}}},"/api/login/settings":{"get":{"tags":["login-controller"],"operationId":"getLoginSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginSettingsResponseDto"}}}}}},"put":{"tags":["login-controller"],"operationId":"setLoginSettings","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"loginSettings":{"$ref":"#/components/schemas/LoginSettingsRequestDto"},"file":{"type":"string","format":"binary"}},"required":["loginSettings"]}}}},"responses":{"204":{"description":"No Content"}}}},"/api/ldap/settings":{"get":{"tags":["ldap-settings-controller"],"operationId":"getSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LdapSettingsResponseDto"}}}}}},"put":{"tags":["ldap-settings-controller"],"operationId":"saveSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LdapSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/languages/{languageId}":{"get":{"tags":["language-controller"],"operationId":"getLanguage","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LanguageResponseDto"}}}}}},"put":{"tags":["language-controller"],"operationId":"updateLanguage","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["language-controller"],"operationId":"deleteLanguage","parameters":[{"name":"languageId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/languages/multi":{"put":{"tags":["language-controller"],"operationId":"upsert","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchLanguageRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpsertResultLanguageResponseDto"}}}}}}},"/api/keywords/{keywordId}":{"get":{"tags":["keyword-controller"],"operationId":"getKeyword","parameters":[{"name":"keywordId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/KeywordResponseDto"}}}}}},"put":{"tags":["keyword-controller"],"operationId":"updateKeyword","parameters":[{"name":"keywordId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["keyword-controller"],"operationId":"deleteKeyword","parameters":[{"name":"keywordId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/jasper-reports/{jasperReportId}":{"get":{"tags":["jasper-report-controller"],"operationId":"getJasperReport","parameters":[{"name":"jasperReportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JasperReportResponseDto"}}}}}},"put":{"tags":["jasper-report-controller"],"operationId":"updateJasperReport","parameters":[{"name":"jasperReportId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"jasperReport":{"$ref":"#/components/schemas/JasperReportRequestDto"},"file":{"type":"string","format":"binary"}},"required":["jasperReport"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["jasper-report-controller"],"operationId":"deleteJasperReport","parameters":[{"name":"jasperReportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/ip/settings":{"get":{"tags":["ip-filter-settings-controller"],"operationId":"getIpFilterSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IpFilterSettingsResponseDto"}}}}}},"put":{"tags":["ip-filter-settings-controller"],"operationId":"setIpFilterSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpFilterSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/faceplates/{faceplateId}":{"get":{"tags":["faceplate-controller"],"operationId":"getFaceplate","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceplateResponseDto"}}}}}},"put":{"tags":["faceplate-controller"],"operationId":"updateFaceplate","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"faceplate":{"$ref":"#/components/schemas/FaceplateRequestDto"},"file":{"type":"string","format":"binary"}},"required":["faceplate"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["faceplate-controller"],"operationId":"deleteFaceplate","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/faceplates/{faceplateId}/svg":{"get":{"tags":["faceplate-controller"],"operationId":"getFaceplateSvg","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["faceplate-controller"],"operationId":"updateFaceplateSvg","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"204":{"description":"No Content"}}}},"/api/faceplates/{faceplateId}/placeholders/{placeholderId}":{"get":{"tags":["faceplate-controller"],"operationId":"getFaceplatePlaceholder","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"placeholderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceplatePlaceholderResponseDto"}}}}}},"put":{"tags":["faceplate-controller"],"operationId":"updateFaceplatePlaceholder","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"placeholderId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceplatePlaceholderRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["faceplate-controller"],"operationId":"deleteFaceplatePlaceholder","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"placeholderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/faceplates/{faceplateId}/elements/{elementId}":{"get":{"tags":["faceplate-controller"],"operationId":"getFaceplateElement","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaceplateElementResponseDto"}}}}}},"put":{"tags":["faceplate-controller"],"operationId":"updateFaceplateElement","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaceplateElementRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["faceplate-controller"],"operationId":"deleteFaceplateElement","parameters":[{"name":"faceplateId","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/expressions/{expressionId}":{"get":{"tags":["expression-controller"],"operationId":"getExpression","parameters":[{"name":"expressionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExpressionResponseDto"}}}}}},"put":{"tags":["expression-controller"],"operationId":"updateExpression","parameters":[{"name":"expressionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpressionRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["expression-controller"],"operationId":"deleteExpression","parameters":[{"name":"expressionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/entity-access-targets/{targetId}":{"get":{"tags":["entity-access-target-controller"],"operationId":"getEntityAccessTarget","parameters":[{"name":"targetId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityAccessTargetResponseDto"}}}}}},"put":{"tags":["entity-access-target-controller"],"operationId":"updateEntityAccessTarget","parameters":[{"name":"targetId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityAccessTargetRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["entity-access-target-controller"],"operationId":"deleteEntityAccessTarget","parameters":[{"name":"targetId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/digital-alarms/{alarmId}":{"get":{"tags":["digital-alarm-controller"],"operationId":"getAlarm","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DigitalAlarmResponseDto"}}}}}},"put":{"tags":["digital-alarm-controller"],"operationId":"updateAlarm","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DigitalAlarmRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["digital-alarm-controller"],"operationId":"deleteAlarm","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/datatransfer/{dataTransferId}":{"get":{"tags":["data-transfer-controller"],"operationId":"getDataTransfer","parameters":[{"name":"dataTransferId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataTransferResponseDto"}}}}}},"put":{"tags":["data-transfer-controller"],"operationId":"updateDataTransfer","parameters":[{"name":"dataTransferId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataTransferRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["data-transfer-controller"],"operationId":"deleteDataTransfer","parameters":[{"name":"dataTransferId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/datatransfer/{dataTransferId}/details/{detailId}":{"get":{"tags":["data-transfer-controller"],"operationId":"getDetail","parameters":[{"name":"dataTransferId","in":"path","required":true,"schema":{"type":"string"}},{"name":"detailId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataTransferDetailResponseDto"}}}}}},"put":{"tags":["data-transfer-controller"],"operationId":"updateDetail","parameters":[{"name":"dataTransferId","in":"path","required":true,"schema":{"type":"string"}},{"name":"detailId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataTransferDetailRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["data-transfer-controller"],"operationId":"deleteDetail","parameters":[{"name":"dataTransferId","in":"path","required":true,"schema":{"type":"string"}},{"name":"detailId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/dashboard/{boardGroupId}":{"get":{"tags":["dashboard-controller"],"operationId":"getBoardGroup","parameters":[{"name":"boardGroupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardGroupResponseDto"}}}}}},"put":{"tags":["dashboard-controller"],"operationId":"updateBoardGroup","parameters":[{"name":"boardGroupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardGroupRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["dashboard-controller"],"operationId":"deleteBoardGroup","parameters":[{"name":"boardGroupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/dashboard/{boardGroupId}/boards/{boardId}":{"get":{"tags":["dashboard-controller"],"operationId":"getBoard","parameters":[{"name":"boardGroupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"boardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardResponseDto"}}}}}},"put":{"tags":["dashboard-controller"],"operationId":"updateBoard","parameters":[{"name":"boardGroupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"boardId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["dashboard-controller"],"operationId":"deleteBoard","parameters":[{"name":"boardGroupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"boardId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-query/sql/{customQueryId}":{"get":{"tags":["custom-sql-query-controller"],"operationId":"getCustomQuery","parameters":[{"name":"customQueryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomSqlQueryResponseDto"}}}}}},"put":{"tags":["custom-sql-query-controller"],"operationId":"updateCustomQuery","parameters":[{"name":"customQueryId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomSqlQueryRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-sql-query-controller"],"operationId":"deleteCustomQuery","parameters":[{"name":"customQueryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-query/influxdb/{customQueryId}":{"get":{"tags":["custom-influx-db-query-controller"],"operationId":"getCustomQuery_1","parameters":[{"name":"customQueryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomInfluxDBQueryResponseDto"}}}}}},"put":{"tags":["custom-influx-db-query-controller"],"operationId":"updateCustomQuery_1","parameters":[{"name":"customQueryId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomInfluxDBQueryRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-influx-db-query-controller"],"operationId":"deleteCustomQuery_1","parameters":[{"name":"customQueryId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-menus/{customMenuId}":{"get":{"tags":["custom-menu-controller"],"operationId":"getCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMenuResponseDto"}}}}}},"put":{"tags":["custom-menu-controller"],"operationId":"updateCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customMenu":{"oneOf":[{"$ref":"#/components/schemas/AnimationCustomMenuRequestDto"},{"$ref":"#/components/schemas/GroupCustomMenuRequestDto"},{"$ref":"#/components/schemas/HtmlCustomMenuRequestDto"}]},"file":{"type":"string","format":"binary"}},"required":["customMenu"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-menu-controller"],"operationId":"deleteCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-menus/{customMenuId}/second/{secondCustomMenuId}":{"get":{"tags":["custom-menu-controller"],"operationId":"getSecondCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondCustomMenuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMenuResponseDto"}}}}}},"put":{"tags":["custom-menu-controller"],"operationId":"updateSecondCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondCustomMenuId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customMenu":{"oneOf":[{"$ref":"#/components/schemas/AnimationCustomMenuRequestDto"},{"$ref":"#/components/schemas/GroupCustomMenuRequestDto"},{"$ref":"#/components/schemas/HtmlCustomMenuRequestDto"}]},"file":{"type":"string","format":"binary"}},"required":["customMenu"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-menu-controller"],"operationId":"deleteSecondCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondCustomMenuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-menus/{customMenuId}/second/{secondCustomMenuId}/third/{thirdCustomMenuId}":{"get":{"tags":["custom-menu-controller"],"operationId":"getThirdCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondCustomMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"thirdCustomMenuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomMenuResponseDto"}}}}}},"put":{"tags":["custom-menu-controller"],"operationId":"updateThirdCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondCustomMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"thirdCustomMenuId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"customMenu":{"oneOf":[{"$ref":"#/components/schemas/AnimationCustomMenuRequestDto"},{"$ref":"#/components/schemas/GroupCustomMenuRequestDto"},{"$ref":"#/components/schemas/HtmlCustomMenuRequestDto"}]},"file":{"type":"string","format":"binary"}},"required":["customMenu"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-menu-controller"],"operationId":"deleteThirdCustomMenu","parameters":[{"name":"customMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"secondCustomMenuId","in":"path","required":true,"schema":{"type":"string"}},{"name":"thirdCustomMenuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-html/{customHtmlId}":{"get":{"tags":["custom-html-controller"],"operationId":"getCustomHtml","parameters":[{"name":"customHtmlId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomHtmlResponseDto"}}}}}},"put":{"tags":["custom-html-controller"],"operationId":"update","parameters":[{"name":"customHtmlId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomHtmlRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-html-controller"],"operationId":"delete","parameters":[{"name":"customHtmlId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-datasource/sql/{customDatasourceId}":{"get":{"tags":["custom-sql-datasource-controller"],"operationId":"getCustomDatasource","parameters":[{"name":"customDatasourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomSqlDatasourceResponseDto"}}}}}},"put":{"tags":["custom-sql-datasource-controller"],"operationId":"updateCustomDatasource","parameters":[{"name":"customDatasourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomSqlDatasourceRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-sql-datasource-controller"],"operationId":"deleteCustomDatasource","parameters":[{"name":"customDatasourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-datasource/influxdb/{customDatasourceId}":{"get":{"tags":["custom-influx-db-datasource-controller"],"operationId":"getCustomDatasource_1","parameters":[{"name":"customDatasourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomInfluxDBDatasourceResponseDto"}}}}}},"put":{"tags":["custom-influx-db-datasource-controller"],"operationId":"updateCustomDatasource_1","parameters":[{"name":"customDatasourceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomInfluxDBDatasourceRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-influx-db-datasource-controller"],"operationId":"deleteCustomDatasource_1","parameters":[{"name":"customDatasourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/custom-alarms/{alarmId}":{"get":{"tags":["custom-alarm-controller"],"operationId":"getAlarm_1","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomAlarmResponseDto"}}}}}},"put":{"tags":["custom-alarm-controller"],"operationId":"updateAlarm_1","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomAlarmRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["custom-alarm-controller"],"operationId":"deleteAlarm_1","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/connections/{connectionId}":{"get":{"tags":["connection-controller-facade"],"operationId":"getConnection_1","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectionResponseDto"}}}}}},"put":{"tags":["connection-controller-facade"],"operationId":"updateConnection_1","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["connection-controller-facade"],"operationId":"deleteConnection_1","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/connections/{connectionId}/devices/{deviceId}":{"get":{"tags":["connection-controller-facade"],"operationId":"getDevice_2","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeviceResponseDto"}}}}}},"put":{"tags":["connection-controller-facade"],"operationId":"updateDevice_2","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["connection-controller-facade"],"operationId":"deleteDevice_2","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/connections/{connectionId}/devices/{deviceId}/frames/{frameId}":{"get":{"tags":["connection-controller-facade"],"operationId":"getFrame_2","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FrameResponseDto"}}}}}},"put":{"tags":["connection-controller-facade"],"operationId":"updateFrame_2","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FrameRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["connection-controller-facade"],"operationId":"deleteFrame_2","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"frameId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/broadcasts/{broadcastId}":{"get":{"tags":["broadcast-controller"],"operationId":"getBroadcast","parameters":[{"name":"broadcastId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BroadcastResponseDto"}}}}}},"put":{"tags":["broadcast-controller"],"operationId":"updateBroadcast","parameters":[{"name":"broadcastId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BroadcastRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["broadcast-controller"],"operationId":"deleteBroadcast","parameters":[{"name":"broadcastId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/broadcast/settings":{"get":{"tags":["broadcast-settings-controller"],"operationId":"getBroadcastSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BroadcastSettingsResponseDto"}}}}}},"put":{"tags":["broadcast-settings-controller"],"operationId":"setBroadcastSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BroadcastSettingsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/animations/{animationId}":{"get":{"tags":["animation-controller"],"operationId":"getAnimation","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnimationResponseDto"}}}}}},"put":{"tags":["animation-controller"],"operationId":"updateAnimation","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"animation":{"$ref":"#/components/schemas/AnimationRequestDto"},"file":{"type":"string","format":"binary"}},"required":["animation"]}}}},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["animation-controller"],"operationId":"deleteAnimation","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/animations/{animationId}/svg":{"get":{"tags":["animation-controller"],"operationId":"getAnimationSvg","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}},"put":{"tags":["animation-controller"],"operationId":"updateAnimationSvg","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"204":{"description":"No Content"}}}},"/api/animations/{animationId}/scripts/{scriptId}":{"get":{"tags":["animation-controller"],"operationId":"getAnimationScript","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnimationScriptResponseDto"}}}}}},"put":{"tags":["animation-controller"],"operationId":"updateAnimationScript","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnimationScriptRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["animation-controller"],"operationId":"deleteAnimationScript","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/animations/{animationId}/placeholders":{"put":{"tags":["animation-controller"],"operationId":"updatePlaceholders","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"text/plain":{"schema":{"type":"string"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/animations/{animationId}/elements/{elementId}":{"get":{"tags":["animation-controller"],"operationId":"getAnimationElement","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnimationElementResponseDto"}}}}}},"put":{"tags":["animation-controller"],"operationId":"updateAnimationElement","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnimationElementRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["animation-controller"],"operationId":"deleteAnimationElement","parameters":[{"name":"animationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"elementId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/analog-alarms/{alarmId}":{"get":{"tags":["analog-alarm-controller"],"operationId":"getAlarm_2","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnalogAlarmResponseDto"}}}}}},"put":{"tags":["analog-alarm-controller"],"operationId":"updateAlarm_2","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalogAlarmRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["analog-alarm-controller"],"operationId":"deleteAlarm_2","parameters":[{"name":"alarmId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/alarms/groups/{groupId}":{"get":{"tags":["alarm-group-controller"],"operationId":"getAlarmGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlarmGroupResponseDto"}}}}}},"put":{"tags":["alarm-group-controller"],"operationId":"updateAlarmGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmGroupRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["alarm-group-controller"],"operationId":"deleteAlarmGroup","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/alarms/fired-alarms/configs":{"get":{"tags":["fired-alarm-controller"],"operationId":"getFiredAlarmConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"put":{"tags":["fired-alarm-controller"],"operationId":"setFiredAlarmConfigs","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/oauth2/mobile/token":{"post":{"tags":["o-auth-2-mobile-token-controller"],"operationId":"exchangeCode","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/api/variables":{"get":{"tags":["variable-controller-facade"],"operationId":"getVariables","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VariableResponseDto"}}}}}}},"post":{"tags":["variable-controller-facade"],"operationId":"createVariable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableRequestDto"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableResponseDto"}}}}}}},"/api/variables/{variableId}/value":{"get":{"tags":["variable-value-controller"],"operationId":"getVariableValue","parameters":[{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableValueDto"}}}}}},"post":{"tags":["variable-value-controller"],"operationId":"setVariableValue","parameters":[{"name":"variableId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/variables/value/by-project-name-and-name":{"get":{"tags":["variable-value-controller"],"operationId":"getVariableValueByProjectNameAndName","parameters":[{"name":"projectName","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableValueDto"}}}}}},"post":{"tags":["variable-value-controller"],"operationId":"setVariableValueByProjectNameAndName","parameters":[{"name":"projectName","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/variables/value/by-project-and-name":{"get":{"tags":["variable-value-controller"],"operationId":"getVariableValueByProjectAndName","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableValueDto"}}}}}},"post":{"tags":["variable-value-controller"],"operationId":"setVariableValueByProjectAndName","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/variables/filter/pages":{"post":{"tags":["variable-controller-facade"],"operationId":"getVariablesByFilter","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableFilterDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVariableResponseDto"}}}}}}},"/api/users":{"get":{"tags":["user-admin-controller"],"operationId":"getUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserResponseDto"}}}}}}},"post":{"tags":["user-admin-controller"],"operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDto"}}}}}}},"/api/users/{username}/reset-password":{"post":{"tags":["user-admin-controller"],"operationId":"resetPassword","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/{userId}/spaces":{"get":{"tags":["user-admin-controller"],"operationId":"getSpaces","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}}},"post":{"tags":["user-admin-controller"],"operationId":"addSpace","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"spaceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}}},"/api/users/{userId}/roles":{"get":{"tags":["user-admin-controller"],"operationId":"getRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}}},"post":{"tags":["user-admin-controller"],"operationId":"addRole","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"roleId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}}},"/api/users/verify-phone":{"post":{"tags":["user-profile-controller"],"operationId":"verifyPhone","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/verify-email":{"post":{"tags":["user-profile-controller"],"operationId":"verifyEmail","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/users/set-password":{"post":{"tags":["user-profile-controller"],"operationId":"setPasswordWithToken","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/users/reset-password":{"post":{"tags":["user-profile-controller"],"operationId":"resetOwnPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetOwnPasswordRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/users/register":{"post":{"tags":["user-registration-controller"],"operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegistrationRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/users/phone-verification":{"post":{"tags":["user-profile-controller"],"operationId":"requestPhoneVerification","responses":{"202":{"description":"Accepted"}}}},"/api/users/forgot-password":{"post":{"tags":["user-profile-controller"],"operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequestDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/users/email-verification":{"post":{"tags":["user-profile-controller"],"operationId":"requestEmailVerification","responses":{"202":{"description":"Accepted"}}}},"/api/users/activate":{"post":{"tags":["user-registration-controller"],"operationId":"activateAccount","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateAccountRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/trends":{"get":{"tags":["trend-controller"],"operationId":"getTrends","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrendResponseDto"}}}}}}},"post":{"tags":["trend-controller"],"operationId":"createTrend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrendRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrendResponseDto"}}}}}}},"/api/trends/{trendId}/tags":{"get":{"tags":["trend-controller"],"operationId":"getTrendTags","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrendTagResponseDto"}}}}}}},"post":{"tags":["trend-controller"],"operationId":"createTrendTag","parameters":[{"name":"trendId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrendTagRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TrendTagResponseDto"}}}}}}},"/api/trace-tables":{"get":{"tags":["trace-table-controller"],"operationId":"getTraceTables","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TraceTableResponseDto"}}}}}}},"post":{"tags":["trace-table-controller"],"operationId":"createTraceTable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TraceTableRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TraceTableResponseDto"}}}}}}},"/api/symbols":{"get":{"tags":["symbol-controller"],"operationId":"getSymbols","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SymbolResponseDto"}}}}}}},"post":{"tags":["symbol-controller"],"operationId":"createSymbol","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"$ref":"#/components/schemas/SymbolRequestDto"},"file":{"type":"string","format":"binary"}},"required":["symbol"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SymbolResponseDto"}}}}}}},"/api/spaces":{"get":{"tags":["space-controller"],"operationId":"getSpaces_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}}},"post":{"tags":["space-controller"],"operationId":"createSpace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceResponseDto"}}}}}}},"/api/space/users":{"get":{"tags":["space-user-controller"],"operationId":"getSpaceUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserResponseDto"}}}}}}},"post":{"tags":["space-user-controller"],"operationId":"createSpaceUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponseDto"}}}}}}},"/api/space/users/{username}/reset-password":{"post":{"tags":["space-user-controller"],"operationId":"resetSpaceUserPassword","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/space/users/{userId}/roles":{"get":{"tags":["space-user-controller"],"operationId":"getSpaceRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}}},"post":{"tags":["space-user-controller"],"operationId":"addSpaceRole","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string"}},{"name":"roleId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}}},"/api/space/roles":{"get":{"tags":["space-role-controller"],"operationId":"getSpaceRoles_1","parameters":[{"name":"spaceId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}}},"post":{"tags":["space-role-controller"],"operationId":"createSpaceRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoleResponseDto"}}}}}}},"/api/space/roles/{roleId}/permissions":{"get":{"tags":["space-role-controller"],"operationId":"getSpaceRolePermissions","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PermissionResponseDto"}}}}}}},"post":{"tags":["space-role-controller"],"operationId":"grantSpacePermissionToRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PermissionResponseDto"}}}}}}},"/api/space/roles/{roleId}/permissions/multi":{"post":{"tags":["space-role-controller"],"operationId":"setSpacePermissions","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PermissionResponseDto"}}}}}}}},"/api/space/roles/{roleId}/menus":{"get":{"tags":["space-role-controller"],"operationId":"getSpaceRoleMenus","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuResponseDto"}}}}}}},"post":{"tags":["space-role-controller"],"operationId":"addSpaceMenuToRole","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuResponseDto"}}}}}}},"/api/space/roles/{roleId}/menus/multi":{"post":{"tags":["space-role-controller"],"operationId":"setSpaceMenus","parameters":[{"name":"roleId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuResponseDto"}}}}}}}},"/api/sms/send":{"post":{"tags":["sms-controller"],"operationId":"sendSms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsRequestDto"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/scripts":{"get":{"tags":["script-controller"],"operationId":"getScripts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RepeatableScriptResponseDto"}}}}}}},"post":{"tags":["script-controller"],"operationId":"createScript","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepeatableScriptRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RepeatableScriptResponseDto"}}}}}}},"/api/scripts/{scriptId}/schedule":{"post":{"tags":["script-controller"],"operationId":"scheduleScript","parameters":[{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/scripts/{scriptId}/run":{"post":{"tags":["script-controller"],"operationId":"runScript","parameters":[{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/scripts/{scriptId}/cancel":{"post":{"tags":["script-controller"],"operationId":"cancelScript","parameters":[{"name":"scriptId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/scripts/schedule/by-project":{"post":{"tags":["script-controller"],"operationId":"scheduleScripts","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/scripts/run":{"post":{"tags":["script-controller"],"operationId":"runScript_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptCallRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/scripts/run/by-project-and-name":{"post":{"tags":["script-controller"],"operationId":"runScript_2","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/scripts/cancel/by-project":{"post":{"tags":["script-controller"],"operationId":"cancelScripts","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/scripts/call-api":{"post":{"tags":["script-controller"],"operationId":"callApi","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptApiCallRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/reports":{"get":{"tags":["report-controller"],"operationId":"getReports","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReportResponseDto"}}}}}}},"post":{"tags":["report-controller"],"operationId":"createReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportResponseDto"}}}}}}},"/api/reports/{reportId}/schedule":{"post":{"tags":["report-controller"],"operationId":"scheduleReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}/print":{"post":{"tags":["report-controller"],"operationId":"printReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"lang","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}/mail":{"post":{"tags":["report-controller"],"operationId":"mailReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"lang","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/{reportId}/groups":{"get":{"tags":["report-controller"],"operationId":"getReportGroups","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReportGroupResponseDto"}}}}}}},"post":{"tags":["report-controller"],"operationId":"createReportGroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportGroupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportGroupResponseDto"}}}}}}},"/api/reports/{reportId}/groups/{groupId}/subgroups":{"get":{"tags":["report-controller"],"operationId":"getReportSubgroups","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReportSubgroupResponseDto"}}}}}}},"post":{"tags":["report-controller"],"operationId":"createReportSubgroup","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportSubgroupRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportSubgroupResponseDto"}}}}}}},"/api/reports/{reportId}/groups/{groupId}/subgroups/{subgroupId}/variables":{"get":{"tags":["report-controller"],"operationId":"getReportVariables","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReportVariableResponseDto"}}}}}}},"post":{"tags":["report-controller"],"operationId":"createReportVariable","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"subgroupId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportVariableRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReportVariableResponseDto"}}}}}}},"/api/reports/{reportId}/cancel":{"post":{"tags":["report-controller"],"operationId":"cancelReport","parameters":[{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/schedule/by-project":{"post":{"tags":["report-controller"],"operationId":"scheduleReports","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/reports/cancel/by-project":{"post":{"tags":["report-controller"],"operationId":"cancelReports","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/protocols/{protocol}/variables":{"get":{"tags":["protocol-variable-controller"],"operationId":"getVariables_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VariableResponseDto"}}}}}}},"post":{"tags":["protocol-variable-controller"],"operationId":"createVariable_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableRequestDto"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariableResponseDto"}}}}}}},"/api/protocols/{protocol}/variables/filter/pages":{"post":{"tags":["protocol-variable-controller"],"operationId":"getVariablesByFilter_1","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariableFilterDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageVariableResponseDto"}}}}}}},"/api/protocols/{protocol}/templates/devices":{"get":{"tags":["protocol-template-controller"],"operationId":"getDevices","parameters":[{"name":"protocol","in":"path","required":true,"schema":{"type":"string"}}],"responses":{
[...]
